* {
    background-color: #1F2937;
    margin: 0px;
    font-family: roboto;
    background-color:
}

header {
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 80px;
    display: flex;
    background-color: #1F2937;
    gap: 1rem;
}

.group {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    
}

.header_logo {
    justify-content: flex-start;
    margin-right: auto;
    margin margin-left: 50px;
}

.link_one,
.link_two,
.link_three {
    align-items: flex-end;
    margin-right: 50px;
}

.hero {
    display: flex;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    
    
}

h1 {
    color: white;
}

span {
    color: lightgray;
}